@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}